<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "b4a.doveroma2017"

    versionCode = "21"
    version     = "21.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Dove Roma</name>

  <description>
      DOVE mangiare, dormire, lavarsi. A cura della Comunita' di Sant'Egidio. Edizione Roma 2020
  </description>

  <author href="http://www.santegidio.org" email="romadove@tiscali.it">
      Comunita' di Sant'Egidio
  </author>

  <icon src="icon.png" />
  
  <preference name="android-minSdkVersion" value="16" />
  <preference name="android-targetSdkVersion" value="28" />
  </widget>
